.login-content-box {
    width: 100%;
    margin: 0;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    display: block;
    z-index: 1;
}

.username {
    margin: 0 auto;
    width: 300px;
    display: block;
}

.platforms {
    margin-top: 2%;
    display: block;
    text-align: center;
}

.platform {
    margin: 0 2%;
}

.login-btn {
    margin-top: 2%;
    text-align: center;
}

[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:before,
[type="radio"].with-gap:checked + span:after {
    border: 2px solid #ef5350;
}

[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:after {
    background-color: #ef5350;
}
