@import "embeds.css";
@import "login_page.css";
@import "news.css";
@import "items_card.css";
@import "patch_notes.css";

.nav-wrapper {
    position: absolute;
    background-color: #1b1b1b;
    z-index: 10;
}

#nav-mobile {
    margin-right: 20px;
}

.content {
    padding: 0 10%;
}

.stats-update {
    margin-top: 5%;
}

.progress {
    background-color: rgba(239, 83, 80, 0.41);
}

.determinate {
    background-color: #ef5350;
}

.progress .determinate {
    background-color: #ef5350;
}

.loading {
    display: none;
    position: absolute;
    top: 12%;
    right: 5%;
    z-index: 9;
}

.navigator {
    margin-top: 10%;
    position: fixed;
    width: 18%;
    border-right: 1px solid #ef5350;
}

.navigator-btn {
    cursor: pointer;
    font-size: 25px;
    padding-left: 10px;
    border-left: 1px solid transparent;
    transition: 0.1s;
    margin: 10px 0;
    color: #616161;
}

.navigator-btn > a {
    width: 100%;
}

.navigator-btn:hover {
    border-left: 1px solid #ef5350;
    color: #a5a5a5;
}

.navigator-btn-selected {
    border-left: 1px solid #ef5350;
    color: #a5a5a5;
}

.home-contents {
    display: none;
}

.home-wrapper {
    margin-top: 5%;
}

body {
    background-color: #1f1f1f;
    margin: 0;
    padding-bottom: 2%;
}

.row {
    margin: 0;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}