.header {
    background-color: #2d2d2d;
    width: 100%;
    padding: 1% 10%;
    box-shadow: -1px -16px 51px 15px rgba(0, 0, 0, 0.5);
}

.title {
    color: white;
    text-align: center;
    font-size: 65px;
    display: inline-block;
    font-family: 'Burbank Big Cd Bk', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}

.heading {
    background-color: transparent;
    color: #E0E0E0;
    text-align: center;
    font-size: 60px;
}

.loginTitle {
    color: white;
    font-size: 100px;
    font-family: 'Burbank Big Cd Bk', Arial, sans-serif;
    text-align: center;
}

.inputText {
    background-color: transparent;
    border-color: transparent;
    border-bottom-color: gray;
    transition: .45s;
    color: white;
    font-size: 22px;
}

.inputText:focus {
    border-bottom-color: white;
}

.inputField {
    padding-bottom: 5%;
}

.alert {
    text-align: center;
    width: 50%;
    position: fixed;
    padding: 20px;
    background-color: #f44336;
    color: white;
    margin-bottom: 15px;
    margin-left: 25%;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
}

.closebtn:hover {
    color: black;
}

.sidenavBtn {
    font-size: 30px;
    cursor: pointer;
    color: white;
    display: inline-block;
    padding-top: 1%;
    padding-bottom: 1%;
    float: right;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    box-shadow: 14px 2px 51px -19px rgba(0, 0, 0, 0.75);
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.card {
    background-color: #2d2d2d;
    border-radius: 7px;
    box-shadow: -1px 3px 51px 15px rgba(0, 0, 0, 0.17);
}

.border-left-red {
    border-left-color: #f44336;
    border-left-width: 5px;
}

.border-left-blue {
    border-left-color: #2196F3;
    border-left-width: 5px;
}

.border-left-green {
    border-left-color: #4CAF50;
    border-left-width: 5px;
}

.border-left-yellow {
    border-left-color: #FFC107;
    border-left-width: 5px;
}

* {
    transition: 0.4s;
}

@font-face {
    font-family: "Burbank Big Cd Bk";
    src: url("../font/Burbank Big Condensed Black.ttf");
}

input:focus, select:focus, textarea:focus, button:focus {
    outline: none;
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #1f1f1f;
}

button, button:focus {
    background-color: transparent;
    border-color: transparent;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #414141;
}

::-webkit-scrollbar-thumb {
    background-color: #2d2d2d;
}
